<h2 class="text-center">Список выполненный дел:</h2>
<br>
<div class="list-group">
    {{#each model as |item|}}
        {{#if item.is_done }}
            <button type="button" class="list-group-item">{{item.text}}</button>
        {{/if}}
    {{/each}}
</div>